nav{
  background:#2196F3;
  padding:10px 50px;

  ul{
    margin-top: 7px;
    margin-bottom: 0;

    @media all and (max-width:640px){
      margin-top:0;
    }

    a{
      color:#fff;
    }
  }
}

.row{
  max-width:100%;


  .news-type{
    text-align:center;
    margin:45px auto;

    li{
      display: inline-block;
      margin: 15px;

      @media all and (max-width:640px){
        margin:5px;
      }

      a{
        border: 1px solid;
        padding: 10px 18px;
      }
    }
  }
  .news-feed{
    li{
      margin-bottom:40px;

      .meta-info{
        color:#B6B6B6;

        span{
          margin-right:8px;

          @media all and (max-width:640px){
            margin-right:3px;
          }

          &.article-type{
            p{
              display:inline-block;
              margin-bottom:0;

              &:first-letter{
                text-transform:uppercase;
              }
            }
          }
        }

        a{
          float:right;
        }
      }
    }
  }
}
