body{
  font-family: 'Alegreya Sans', sans-serif;
  font-weight:400;
  color:#212121;
  font-size:2em;
}

*{
  transition:all 300ms ease-in-out;
}

h1, h2, h3, h4, h5, h6{
  font-weight:700;
  font-family: 'Alegreya Sans', sans-serif;
}

p{
  margin-bottom: .25rem;
}

h1 a{
  color:#fff;
  display: inline-block;
  float: left;
  font-size: .8em;

  &:hover{
    color:#fff;
  }
}

ul{
  list-style:none;
  margin-left:0;
}
