<nav class="clearfix">
  <h1><a href="/">News</a></h1>
  <ul class="right">
    <li>{{#link-to 'favs'}}Favourites{{/link-to}}</li>
  </ul>
</nav>

<div class="row">
  <ul class="news-type">
    <li><a href="/news/world">World</a></li>
    <li><a href="/news/business">Business</a></li>
    <li><a href="/news/sports">Sports</a></li>
  </ul>
  <div class="small-11 small-centered medium-8 large-7 medium-centered columns">
    {{outlet}}
  </div>
</div>
