<ul class="news-feed">
  {{#each item in model}}
    <a href="{{item.url}}" target="_blank">
      <li>
        <h2 class="article-title">{{item.title}}</h2>
        <div class="meta-info">
          <span class="article-type"><p>{{item.type}}</p></span>
          <!-- <span class="article-bar">|</span>
          <span class="article-source">{{item.source}}</span> -->
          <a class="article-url" href="{{item.url}}" target="_blank">Read More</a>
        </div>
      </li>
    </a>
  {{/each}}
</ul>
{{outlet}}
