<!-- <ul class="news-feed">
  {{#each model as |item|}}
    <a href="{{item.url}}" target="_blank">
      <li>
        <h2 class="article-title">{{item.title}}</h2>
        <div class="meta-info">
          <span class="article-type"><p>{{item.news-type}}</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">{{item.source}}</span>
          <a class="article-url" href="{{item.url}}" target="_blank">Read More</a>
        </div>
      </li>
    </a>
  {{/each}}
</ul> -->

<ul class="news-feed">
    <a target="_blank" href="http://www.npr.org/2015/08/05/429597201/in-peaceful-sri-lanka-army-holds-thousands-of-acres-seized-in-civil-war?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">In Peaceful Sri Lanka, Army Holds Thousands Of Acres Seized In Civil War</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/2015/08/05/429597201/in-peaceful-sri-lanka-army-holds-thousands-of-acres-seized-in-civil-war?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/2015/08/05/429597099/do-you-want-to-build-a-lawsuit-china-totally-copied-frozen-kid-says?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">Do You Want To Build A Lawsuit? China Totally Copied 'Frozen,' Kid Says</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/2015/08/05/429597099/do-you-want-to-build-a-lawsuit-china-totally-copied-frozen-kid-says?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/sections/parallels/2015/08/05/429340930/an-island-tax-could-harm-one-bright-spot-in-greek-economy?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">An 'Island Tax' Could Harm One Bright Spot In Greek Economy</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/sections/parallels/2015/08/05/429340930/an-island-tax-could-harm-one-bright-spot-in-greek-economy?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/sections/parallels/2015/08/05/419419307/fake-wedding-guests-korea-role-players?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">Need Fake Friends For Your Wedding? In S. Korea, You Can Hire Them </h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/sections/parallels/2015/08/05/419419307/fake-wedding-guests-korea-role-players?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/sections/parallels/2015/08/05/429340817/a-syrian-refugee-school-nearly-2-000-students-5-shifts-3-languages?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">A Syrian Refugee School: Nearly 2,000 Students, 5 Shifts, 3 Languages</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/sections/parallels/2015/08/05/429340817/a-syrian-refugee-school-nearly-2-000-students-5-shifts-3-languages?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/sections/thetwo-way/2015/08/04/429441322/one-of-the-worlds-most-famous-free-divers-is-missing-near-ibiza?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">One Of The World's Most Famous Free Divers Is Missing Near Ibiza</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/sections/thetwo-way/2015/08/04/429441322/one-of-the-worlds-most-famous-free-divers-is-missing-near-ibiza?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/sections/thesalt/2015/08/04/429363868/how-percy-shelley-stirred-his-politics-into-his-tea-cup?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">How Percy Shelley Stirred His Politics Into His Teacup</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/sections/thesalt/2015/08/04/429363868/how-percy-shelley-stirred-his-politics-into-his-tea-cup?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/sections/thetwo-way/2015/08/04/429330598/did-beijings-olympics-song-lift-parts-of-let-it-go?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">Did Beijing's Olympics Song Lift Parts Of 'Let It Go'?</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/sections/thetwo-way/2015/08/04/429330598/did-beijings-olympics-song-lift-parts-of-let-it-go?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/sections/goatsandsoda/2015/08/04/427181595/in-the-fight-against-tsetse-flies-blue-is-the-new-black?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">In The Fight Against Tsetse Flies, Blue Is The New Black</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/sections/goatsandsoda/2015/08/04/427181595/in-the-fight-against-tsetse-flies-blue-is-the-new-black?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.npr.org/sections/thetwo-way/2015/08/04/429277147/monsoon-flooding-kills-dozens-in-myanmar-prompting-calls-for-help?ft=nprml&amp;f=1004">
      <li>
        <h2 class="article-title">Monsoon Flooding Kills Dozens In Myanmar, Prompting Calls For Help</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">National Public Radio</span>
          <a class="article-url" target="_blank" href="http://www.npr.org/sections/thetwo-way/2015/08/04/429277147/monsoon-flooding-kills-dozens-in-myanmar-prompting-calls-for-help?ft=nprml&amp;f=1004">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/06/world/asia/trains-derail-at-flooded-river-crossing-in-india-killing-dozens.html">
      <li>
        <h2 class="article-title">Trains Derail at Flooded River Crossing in India, Killing Dozens</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/06/world/asia/trains-derail-at-flooded-river-crossing-in-india-killing-dozens.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/06/world/asia/lee-hee-ho-former-first-lady-of-south-korea-visits-north-korea-in-good-will-trip.html">
      <li>
        <h2 class="article-title">Former First Lady of South Korea Visits Pyongyang in Good-will Trip</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/06/world/asia/lee-hee-ho-former-first-lady-of-south-korea-visits-north-korea-in-good-will-trip.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/06/world/middleeast/younger-muslim-brotherhood-members-in-egypt-bridle-at-nonviolent-stance.html">
      <li>
        <h2 class="article-title">Younger Muslim Brotherhood Members in Egypt Bridle at Nonviolent Stance</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/06/world/middleeast/younger-muslim-brotherhood-members-in-egypt-bridle-at-nonviolent-stance.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/06/world/asia/mh370-wing-reunion.html">
      <li>
        <h2 class="article-title">Wing Part May Shed Light on the Last Moments of Malaysia Airlines Flight 370</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/06/world/asia/mh370-wing-reunion.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/06/world/asia/john-kerry-urges-beijing-to-halt-problematic-actions-in-south-china-sea-during-asean-meeting.html">
      <li>
        <h2 class="article-title">Kerry Urges Beijing to Halt ‘Problematic Actions’ in South China Sea</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/06/world/asia/john-kerry-urges-beijing-to-halt-problematic-actions-in-south-china-sea-during-asean-meeting.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/05/world/middleeast/iraq-funding-shortfall-deprives-uprooted-iraqis-of-health-services.html">
      <li>
        <h2 class="article-title">Iraq: Funding Shortfall Deprives Uprooted Iraqis of Health Services</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/05/world/middleeast/iraq-funding-shortfall-deprives-uprooted-iraqis-of-health-services.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/05/world/middleeast/un-chief-appeals-for-more-aid-to-support-palestinian-refugees.html">
      <li>
        <h2 class="article-title">U.N. Chief Appeals for More Aid to Support Palestinian Refugees</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/05/world/middleeast/un-chief-appeals-for-more-aid-to-support-palestinian-refugees.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/05/world/africa/cameroon-nigerians-are-expelled.html">
      <li>
        <h2 class="article-title">Cameroon: Nigerians Are Expelled</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/05/world/africa/cameroon-nigerians-are-expelled.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/05/world/europe/turkey-jets-strike-kurdish-rebels.html">
      <li>
        <h2 class="article-title">Turkey: Jets Strike Kurdish Rebels</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/05/world/europe/turkey-jets-strike-kurdish-rebels.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.nytimes.com/2015/08/05/world/africa/ebola-cases-fall-sharply-un-reports.html">
      <li>
        <h2 class="article-title">Ebola Cases Fall Sharply, W.H.O. Reports</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The New York Times</span>
          <a class="article-url" target="_blank" href="http://www.nytimes.com/2015/08/05/world/africa/ebola-cases-fall-sharply-un-reports.html">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/2015/aug/05/frequent-spicy-meals-linked-to-human-longevity">
      <li>
        <h2 class="article-title">Frequent spicy meals linked to human longevity</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/2015/aug/05/frequent-spicy-meals-linked-to-human-longevity">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/2015/aug/04/russia-troy-kremlin-control-orthodox-priest-tauric-chersonesos-sevastopol-crimea">
      <li>
        <h2 class="article-title">'Russia's Troy' under Putin's control after row over priest's appointment</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/2015/aug/04/russia-troy-kremlin-control-orthodox-priest-tauric-chersonesos-sevastopol-crimea">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/2015/aug/05/afghanistan-sharp-rise-women-children-casualties-2015-taliban">
      <li>
        <h2 class="article-title">Afghanistan sees sharp rise in women and child casualties in first half of 2015</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/2015/aug/05/afghanistan-sharp-rise-women-children-casualties-2015-taliban">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/iran-blog/2015/aug/05/iran-instagram-accounts-tehran-photography">
      <li>
        <h2 class="article-title">Iran's must-follow Instagram accounts</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/iran-blog/2015/aug/05/iran-instagram-accounts-tehran-photography">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/business/2015/aug/05/niesr-warns-on-further-greek-austerity">
      <li>
        <h2 class="article-title">Greece needs wide debt relief to avoid permanent depression, thinktank warns</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/business/2015/aug/05/niesr-warns-on-further-greek-austerity">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/2015/aug/04/shadowy-chinese-officials-try-to-ground-festivals-tibet-balloon">
      <li>
        <h2 class="article-title">Shadowy Chinese officials try to ground festival’s Tibet balloon</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/2015/aug/04/shadowy-chinese-officials-try-to-ground-festivals-tibet-balloon">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/2015/aug/04/a-mighty-man-tributes-to-last-surviving-dambusters-pilot-les-munro">
      <li>
        <h2 class="article-title">'A mighty man': tributes to last surviving Dambusters pilot, Les Munro</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/2015/aug/04/a-mighty-man-tributes-to-last-surviving-dambusters-pilot-les-munro">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/2015/aug/04/saadi-gaddafi-abuse-video-condemned-libya-al-hadba-tripoli">
      <li>
        <h2 class="article-title">Saadi Gaddafi abuse video condemned by lawyers and rights groups</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/2015/aug/04/saadi-gaddafi-abuse-video-condemned-libya-al-hadba-tripoli">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/2015/aug/04/cooperation-and-diplomacy-are-best-response-to-europes-migration-crisis">
      <li>
        <h2 class="article-title">Cooperation and diplomacy best response to Europe’s migration crisis | Letters</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/2015/aug/04/cooperation-and-diplomacy-are-best-response-to-europes-migration-crisis">Read More</a>
        </div>
      </li>
    </a>
    <a target="_blank" href="http://www.theguardian.com/world/2015/aug/04/amnesty-international-is-right-to-take-a-stand-on-sex-work">
      <li>
        <h2 class="article-title">Amnesty International is right to take a stand on sex work | Letters</h2>
        <div class="meta-info">
          <span class="article-type"><p>world</p></span>
          <span class="article-bar">|</span>
          <span class="article-source">The Guardian</span>
          <a class="article-url" target="_blank" href="http://www.theguardian.com/world/2015/aug/04/amnesty-international-is-right-to-take-a-stand-on-sex-work">Read More</a>
        </div>
      </li>
    </a>
</ul>
